h1 {
  color: #080808;
  font-family: verdana;
  font-size: 54px;
  text-align: center;
}

p { 
  background: #e3eaf1;
  font-family: verdana;
  line-height: 1.00;
  margin-bottom: 0.5cm;
}
<h1 id= "site-title">  {
  font-size: 72px;
  letter-spacing: -3px;
  margin-top: 0;
  margin-bottom: o;
  text-align: center;
}

<h1 id="article-title"> {
  font-size: 48px;
  letter-spacing: -3px;
  margin-top: 0;
  margin-bottom: o;
  text-align: left;
}


figure {
  border: 1px solid black;
  padding: 40px 
}

figure img {
  width: 30%;
  height: auto;
}

figure.main-image  {
background: palevioletred;
border-color: mediumvioletred;
color: white;
}

figure.section-image  {
  float: right;
  margin-left: 20px;
  margin-bottom: 32 px;
  max-width: 320px;
}

p img {
  float: right;
  max-width: 20%;
  margin-left: 10px;
  margin-bottom: 20px;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding-left: 0;
  border: 1px solid rgb(94, 97, 96);
}

a {
  font-weight: bold;
  color: rgb(23, 24, 23);
}

ul li a {
  text-decoration: none;
}

ul li a:hover {
text-decoration: underline;
}